
.Shops{
  padding: 100px 0;
  .header{
    text-align: center;
    font-size: 48px;
    font-family: 'Inter-Bold', sans-serif;
    color: black;
  }
  .mainBlock{
    align-items: center;
    margin-top: 100px;
    .LogoImg{
      width: 400px;
      margin: 0 100px;
    }
    .header{

    }
  }
}