@import "../../../source/mixin.scss";

.BlogStudies{
  padding: 0 10px;
  margin: 120px auto;
  flex-wrap: wrap;
  @include screen($tablet) {
    margin: 60px auto;
  }


  .textBlock {
    width: 80%;

    .header {
      font-size: 48px;
      font-family: 'Inter-Bold', sans-serif;
      @include screen($tablet){
        font-size: 40px;
      }
    }

    .prg {
      font-size: 20px;
      font-family: 'Inter-Medium', sans-serif;
      max-width: 700px;
      margin: 15px 0;
    }
  }

  .linkBlock {
    width: 10%;
    @include screen($tablet-w){
      display: none;
    }
    a{
      font-size: 24px;
      font-family: 'Inter-Medium', sans-serif;
      color: #266EFE;
      text-decoration: none;
    }
  }

  .sliderCont{
    width: 100%;
    overflow: hidden;
    transition: 1s ease-in-out;

    .slick-slider{
      width: 100% !important;
      .slick-dots{
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        li{
          display: block;
          margin: 0 24px;
          height: 24px;
          width: 24px;
          background-color: #F1F4F8;
          border-radius: 50%;

          @include screen($tablet-m){
            height: 16px;
            width: 16px;
            margin: 0 20px;
          }

          button{
            color: transparent;
            border: none;
            background-color: transparent;
            position: relative;
            z-index: 3;
            height: 100%;
            width: 100%;
          }
        }
        .slick-active{
          background-color: #266EFE;
        }
      }
      .slick-list{
        width: 100% !important;
        .slick-track{
          width: 100%;
          display: flex;
          justify-content: space-around !important;
          align-items: center;
        }
      }
    }

    .featureBlock{
      display: flex !important;
      width: 100%;
      box-shadow: 0 4px 24px 5px rgba(194, 194, 194, 0.14);
      border-radius: 24px;
      background-color: white;
      margin: 60px auto;
      @include screen($tablet-w){
        margin: 30px auto;
        flex-wrap: wrap !important;
      }


      .gradientBlock{
        width: 45%;
        height: 370px;
        border-radius: 24px;
        position: relative;
        background: linear-gradient(rgba(85, 75, 205, 1), rgba(76, 139, 235, 1));

        @include screen($tablet-w){
          width: 100%;
          height: 450px;
        }
        @include screen($tablet-m){
          height: 300px;
        }
        @include screen($mobile-m){
          height: 200px;
        }


        .carRepairImg{
          position: absolute;
          bottom: 0;
          right: 0;
          height: 80%;
        }
      }

      .textBlock{
        width: 50%;
        @include screen($tablet-w){
          width: 90%;
          margin: 0 auto;
        }

        .span{
          display: block;
          background: rgba(0, 204, 154, 0.10);
          padding: 8px 15px;
          border-radius: 8px;
          color: #00CC9A;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 20px;
          line-height: 140%;
          margin-top: 40px;
          max-width: max-content;
          @include screen($tablet-w){
            display: none;
          }

        }
        .header{
          font-size: 30px;
          line-height: 130%;
          font-family: 'Inter-Medium', sans-serif;
          max-width: 440px;
          margin-top: 72px;
          @include screen($tablet-w){
            text-align: center;
            max-width: unset;
            margin-top: 16px;
          }

          span{
            color: #266EFE;
          }
        }
        .prg{
          font-size: 20px;
          font-family: 'Inter-Medium', sans-serif;
          line-height: 140%;
          max-width: 540px;
          margin: 40px 0 40px 0;
          @include screen($tablet-w){
            max-width: unset;
            text-align: center;
            margin: 20px 0;
          }

        }
      }
    }
  }
}

