@import "../../../source/mixin.scss";
.InsuranceStep2{
  margin: 120px auto 150px;
  padding: 0 10px;
  @include screen($tablet-l){
    margin: 64px auto 100px;
  }
  @include screen($tablet){
    margin: 32px auto 50px;
  }
  @include screen($tablet-m){
    padding: 0;
  }

  .header{
    font-size: 48px;
    font-family: 'Inter-Bold', sans-serif;
    color: black;
    text-align: center;
    span{
      color: #266EFE;
    }
    @include screen($tablet){
      font-size: 40px;
    }

  }

  .RegCont{
    margin-top: 55px;
    box-shadow: 0 4px 24px 5px rgba(194, 194, 194, 0.14);
    border-radius: 24px;
    background-color: #FFFFFF;
    border: 1px solid #F1F4F8;
    padding: 20px 40px;
    @include screen($tablet){
      padding: 20px 16px;
    }
    @include screen($tablet-m){
      padding: 20px 8px;
    }



    .pageInfo{
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #F1F4F8;
      position: relative;
      .linkToSTep1{
        margin-right: 8px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: 'Inter-Medium', sans-serif;
        line-height: 140%;
        width: min-content;
        margin-bottom: 12px;
      }
      .clearRefresh{
        position: absolute;
        top: 40px;
        right:  80px;
        font-size: 24px;
        font-family: 'Inter-Medium', sans-serif;
        line-height: 120%;
        cursor: pointer;
        @include screen($tablet-w){
          right: 30px;
        }
        @include screen($tablet-m){
          right: 0;
          top: 0;
        }
        @include screen($mobile-m){
          font-size: 20px;
        }
        img{
          margin-right: 12px;
        }
      }
      .VehicleInfo{
        font-size: 30px;
        font-family: 'Inter-Medium', sans-serif;
        line-height: 130%;
        @include screen($tablet-m){
          width: min-content;
        }
        @include screen($mobile-m){
          font-size: 24px;
        }

      }
      .pagesOrdinary{
        margin-top: 45px;
        @include screen($tablet-w){
          width: 100%;
          justify-content: space-between;
        }
        @include screen($tablet){
          flex-direction: column;
        }


        .page{
          font-size: 24px;
          font-family: 'Inter-Medium', sans-serif;
          line-height: 120%;
          margin-right: 50px;
          @include screen($tablet-w){
            margin: 0;
          }
          @include screen($tablet){
            margin: 20px 0;
          }

          span{
            margin-right: 16px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: #266EFE;
            font-size: 20px;
            font-family: 'Inter-SemiBold', sans-serif;
            line-height: 140%;
            color: white;
          }
        }
        .active{
          color: #AEAEAE;
          span{
            background-color: #8EAAF3;
            color: #FFFFFF;
          }
        }
      }
    }

    .pageInputsCont{
      width: 100%;

      .MainInputs{
        width: 74%;
        @include screen($tablet-l){
          width: 100%;
        }
        .inputCheckBox{
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid;
          border-radius: 6px;
          cursor: pointer;
          margin-right: 12px;
          &:hover{
            border-color: #28448D !important;
          }
        }
        .full{
          width: 100%;
        }
        .half{
          width: 34%;
          margin-right: 2% !important;
          @include screen($tablet-l){
            width: 48%;
          }

        }
        .halfSelect{
          width: 48%;
        }
        .middle{
          width: 70%;
          @include screen($tablet-l){
            width: 98%;
          }

        }
        .Select{
          position: relative;
          margin-bottom: 16px;
          .selectBlock{
            width: 100%;
            padding: 16px 20px;
            border: 1px solid;
            background-color: #FFFFFF;
            border-radius: 14px;
            cursor: pointer;
            &:hover{
              border-color: #AEAEAE;
            }
            span{
              font-size: 16px;
              font-family: 'Inter-Regular', sans-serif;
              line-height: 130%;
            }
          }
          .optionsBlock{
            width: 100%;
            max-height: 220px;
            overflow: scroll;
            border-radius: 14px;
            border: 1px solid #266EFE;
            background-color: #FFFFFF;
            padding: 4px;
            margin-top: 4px;
            position: absolute;
            z-index: 20;

            &::-webkit-scrollbar {
              width: 25px;
              height: 90% !important;
            }
            &::-webkit-scrollbar-track {
              background: rgba(204, 224, 255, 0.5);
              border: 10px solid white;
              border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb {
              background: #CCE0FF;
              border: 10px solid white;
              border-radius: 50px;
            }
            .option{
              border-radius: 8px;
              cursor: pointer;
              padding: 12px 16px;
              background-color: #FFFFFF;
              font-size: 16px;
              font-family: 'Inter-Regular', sans-serif;
              line-height: 130%;
              &:hover{
                background-color: #266EFE;
                color: #FFFFFF;
              }
            }
          }
        }
        .checkBox1{
          margin-bottom: 16px;
          p{
            font-size: 16px;
            font-family: 'Inter-Regular', sans-serif;
            line-height: 130%;
          }
        }
        .headerPrg{
          width: 100%;
          margin: 16px 0 24px;
          font-size: 20px;
          font-family: 'Inter-SemiBold', sans-serif;
          line-height: 140%;
        }
        .Inputs{
          display: flex;
          flex-wrap: wrap;
        }
        .ImportantTextBlock{
          padding: 16px;
          width: 100%;
          border-radius: 8px;
          background: #EDFFF4;
          margin: 16px 0;

          .ImportantPrg{
            color: #00CC9A;
            margin: 0 auto;
            text-align: center;
            max-width: 665px;
            font-size: 16px;
            font-family: 'Inter-Regular', sans-serif;
            line-height: 24px;
            span{
              font-family: 'Inter-SemiBold', sans-serif;
            }
          }
        }

        .fullInput{
          width: 100%;
        }
        .middleInput{
          width: 65%;
        }
        .smallInput{
          width: 32%;
        }
        .halfInput{
          width: 48%;
        }
        .inputText{
          margin-bottom: 20px;
          border: 1px solid #D9D9D9;
          padding: 16px 20px;
          border-radius: 14px;
          font-size: 16px;
          line-height: 130%;
          font-family: 'Inter-Regular', sans-serif;
          color: black;
          outline: none;
          @include screen($tablet-m){
            padding: 12px ;
          }
          &:hover{
            border-color: #AEAEAE;
          }
          &:focus-visible{
            border-color: #266EFE;
          }
        }
        .AddressBlock{
          .Select{
            margin-bottom: 20px !important;
          }
          width: 70%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @include screen($wide-m){
            width: 90%;
          }
          @include screen($wide-s){
            width: 100%;
          }

        }
        .OwnersDocBlock{
          width: 70%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @include screen($wide-m){
            width: 90%;
          }
          @include screen($wide-s){
            width: 100%;
          }


          .radioBlocks{
            margin-bottom: 20px;
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include screen($tablet-l){
              width: 100%;
            }
            @include screen($tablet){
              flex-wrap: wrap;
            }

            .line{
              height: 36px;
              width: 1px;
              margin-left: -16px;
              background-color: #D9D9D9;
              @include screen($tablet-l){
                margin-left: -10px;
              }
              @include screen($tablet){
                display: none;
              }


            }
            .radioBlock{
              display: flex;
              @include screen($tablet){
                margin-bottom: 15px;
                width: 100%;
              }



              .radio{
                margin-right: 32px;
                @include screen($tablet-l){
                  margin-right: 20px;
                }
                @include screen($mobile-m){
                  margin-right: 14px;
                }

                label{
                  white-space: nowrap;
                  font-family: 'Inter-Regular', sans-serif;
                  font-size: 16px;
                  line-height: 130%;
                  cursor: pointer;
                  @include screen($tablet){
                    font-size: 15px;
                  }

                }
                input{
                  cursor: pointer;
                  margin-right: 12px;
                  scale: 1.2;
                  @include screen($tablet){
                    margin-right: 8px;
                    scale: 1.1;
                  }

                }
              }

            }
          }
          .CardCertificate{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 12px;
            .GreenText{
              font-size: 20px;
              font-family: 'Inter-Regular', sans-serif;
              line-height: 140%;
              margin-right: 12px;
            }
            input{
              scale: 1.4;
              cursor: pointer;
            }
          }
        }
        .tabletBlock{
          display: none;
          @include screen($tablet-l){
            display: block;
          }
          .continueBtnInside{
            border-radius: 14px;
            width: 100%;
            background-color: #266EFE;
            color: #FFFFFF;
            text-align: center;
            padding: 20px 0;
            font-family: 'Inter-Medium', sans-serif;
            font-size: 16px;
            line-height: 140%;
            border: none;
            cursor: pointer;
            margin-top: 40px;

            &:hover{
              background-color: #4C52EB;
            }
          }
          .linkPolicy{
            color: #266EFE;
            font-size: 20px;
            font-family: 'Inter-Medium', sans-serif;
            line-height: 140%;
            margin-top: 40px;
            text-decoration: none;
            display: block;
          }
        }
      }
      .needBlock{
        width: 24%;

        @include screen($tablet-l){
          display: none;
        }


        .link{
          cursor: pointer;
          &:hover{
            color: #266EFE;
          }
        }
        .needHeader{
          margin: 40px 0 8px;
          font-size: 20px;
          font-family: 'Inter-SemiBold', sans-serif;
          color: #0D172F;
          line-height: 140%;
        }
        .needPrg{
          margin-top: 16px;
          font-size: 20px;
          font-family: 'Inter-Medium', sans-serif;
          line-height: 140%;
          color: #AEAEAE;
        }
        .continueBtn{
          border-radius: 14px;
          width: 100%;
          background-color: #266EFE;
          color: #FFFFFF;
          text-align: center;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 16px;
          line-height: 140%;
          border: none;
          margin-top: 40px;
          padding: 20px 0;
          cursor: pointer;
          &:disabled{
            background-color: #F1F4F8 !important;
            color: #AEAEAE;
          }
          a{
            text-decoration: none;
            color: white;
            display: block;
            height: 100%;
            width: 100%;
          }
          &:hover{
            background-color: #4C52EB;
          }
        }

      }

    }






  }
}