@import "./mixin.scss";
.G-container{
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  //overflow: hidden;
}

.G-flex{
  display: flex;
}
.G-justify-center{
  display: flex;
  justify-content: center;
}
.G-justify-between{
  display: flex;
  justify-content: space-between;
}
.G-align-center{
  display: flex;
  align-items: center;
}
.G-align-top{
  display: flex;
  align-items: start;
}
.G-flex-column{
  display: flex;
  flex-direction: column;
}

.G-button{
  padding: 12px 60px;
  text-decoration: none;
  text-align: center;
  background-color: #266EFE;
  border: 1px solid #266EFE;
  font-size: 16px !important;
  font-family: 'Inter-Medium', sans-serif;
  color: white !important;
  border-radius: 12px;
  @include screen($wide){
    padding: 12px 50px;
    font-size: 15px;
  }
  @include screen($wide-s){
    padding: 8px 40px;
    font-size: 14px;
  }
  @include screen($tablet){
    padding: 6px 25px;
    font-size: 13px;
  }

}