@import "../../../source/mixin.scss";

.PartnerHome{
  width: 100%;
  padding: 12px 40px;
  position: relative;
  z-index: 1;
  @include screen($wide-l){
    padding: 12px 24px;
  }
  @include screen($wide){
    padding: 12px;
  }

  .topMessage{
    padding: 16px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #266EFE;
    background: rgba(217, 227, 251, 0.50);
    margin-bottom: 24px;
    .textBlock{
      .important{
        padding: 8px;
        display: block;
        background-color: #266EFE;
        color: white;
        font-size: 12px;
        font-family: 'Inter-Regular', sans-serif;
        line-height: 100%;
        border-radius: 4px;
        margin-right: 10px;
      }
      .importantPrg{
        font-size: 14px;
        color: black;
        font-family: 'Inter-Medium', sans-serif;
        line-height: 140%;
        a{
          color: #266EFE !important;
          text-decoration: underline;
          cursor: pointer;
          text-underline-position: under;
          &:hover{
            color: #355ABC !important;
          }
        }
      }
    }
  }
  .miniHeader{
    font-size: 14px;
    font-family: 'Inter-Medium', sans-serif;
    color: #334155;
    line-height: 140%;
    margin-bottom: 8px;
    text-decoration: none;
    img{
      margin-left: 8px;
    }
  }

  .statisticsCont{
    margin-bottom: 30px;
    .statisticBlock{
      text-decoration: none;
      display: block;
      width: 32%;
      border-radius: 16px;
      border: 1px solid  #F1F4F8;
      background:  #FFF;
      @include screen($wide-l){
        width: 33%;
      }
      .headerBlock{
        border-bottom: 1px solid #F1F4F8;
        padding: 12px 16px;
        @include screen($wide){
          padding: 8px;
        }


        .nameBlock{
          text-decoration: none;
          display: flex;
          font-size: 14px;
          font-family: 'Inter-Medium', sans-serif;
          color: #0D172F;
          line-height: 140%;
          img{
            margin-right: 10px;
          }
        }
        .timeBlock{
          font-size: 12px;
          font-family: 'Inter-Regular', sans-serif;
          line-height: 130%;
          color: #AEAEAE;
          position: relative;
          z-index: 2;
          svg{
            margin-left: 8px;
          }

          &:hover{
            cursor: pointer;
            color: #334155;
            path{
              fill: #334155;
            }
          }
          .listBlock{
            padding: 8px 12px;
            height: max-content;
            width: max-content;
            border-radius: 4px;
            border: 1px solid #F1F4F8;
            background-color: white;
            position: absolute;
            z-index: 3;
            left: 0;
            top: 20px;
            .listItem{
              cursor: pointer;
              color: #AEAEAE;
              font-size: 12px;
              font-family: 'Inter-Regular', sans-serif;
              line-height: 130%;
              padding: 2px 0;
              display: block;
              &:hover{
                color: #334155;
              }
            }
          }
        }
        .activeBlock{
          color: #334155 !important;
          svg{
            rotate: 180deg !important;
            path{
              fill: #334155 !important;
            }
          }
        }
      }
      .contentBlock{
        text-decoration: none;
        padding: 12px 16px;
        justify-content: space-between;
        @include screen($wide){
          padding: 8px;
        }


        .textContent{
          width: 29%;
          .grayHeader{
            font-size: 12px;
            font-family: 'Inter-Regular', sans-serif;
            line-height: 130%;
            color: #AEAEAE;
          }
          .totalAmount{
            font-size: 30px;
            font-family: 'Inter-Medium', sans-serif;
            color: #0D172F;
            line-height: 130%;
            margin: 10px 0;
            display: block;
          }
          .rateBlock{
            width: max-content;
            padding: 2px 4px;
            border-radius: 4px;
            background: rgba(0, 204, 154, 0.20);
            color: #00CC9A;
            font-size: 12px;
            font-family: 'Inter-Regular', sans-serif;
            line-height: 130%;
            svg{
              margin-left: 4px;
            }
          }
          .withdrawBtn{
            font-size: 16px;
            color: #266EFE;
            cursor: pointer;
            font-family: 'Inter-Medium', sans-serif;
            line-height: 140%;
            &:hover{
              color: #355ABC;
            }
            img{
              margin-left: 8px;
            }
          }
        }
        .statistic{
          width: 69%;
          height: 100px;
          position: relative;

          .backLine{
            height: 25%;
            span{
              font-size: 10px;
              color: #AEAEAE;
              line-height: 130%;
              font-family: 'Inter-Regular', sans-serif;
              display: block;
              width: 20px;
            }
            .line{
              width: 90%;
              height: 0;
              border-bottom: 2px dotted #F1F4F8;
            }
          }
          .states{
            position: absolute;
            bottom: 0;
            right: 3%;
            width: 90%;
            align-items: end;
            justify-content: space-between;



            .statesBlock{
              align-items: center;
              font-size: 10px;
              color: #AEAEAE;
              line-height: 130%;
              width: 10%;
              font-family: 'Inter-Regular', sans-serif;
              @include screen($wide){
                font-size: 6px;
              }
              .statesLine{
                min-height: 4px !important;
                border-radius: 4px;
                width: 100%;
                @include screen($wide){
                  margin-bottom: 4px;
                }

              }
            }


          }
          .greenLines{
            .statesLine{
              background-color: #00CC9A;
            }
          }
          .orangeLines{
            .statesLine{
              background-color: #F39A31;
            }
          }



        }

      }
    }
  }
}